<h4>Vous créez un {{typePersonnage}}</h4>

<div>
	<h1>Choisissez une maison</h1>
	<input type="text" class="form-control" placeholder="Je recherche" ng-model="query">
	<table class="table table-striped" style='width:100%'>
		<thead>
			<th>Maison</th>
			<th>Type</th>
			<th>Description</th>
			<th>Avantage (pour mages)</th>
		</thead>
		<tbody>
			<tr ng-repeat="maison in maisons | filter:query">
				<td>{{maison.nom}}</td>
				<td>{{maison.type}}</td>
				<td>{{maison.description}}</td>
				<td>{{maison.avantages}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div style='text-align:center;'>
	<select id='select_maison'>
		<option ng-repeat="maison in maisons">{{maison.nom}}</option>
	</select>
	<button class="btn btn-primary btn-lg" ng-click='maison()'>Continuer aux Vertus et Vices</button>
</div>