<h4>Vous créez un {{typePersonnage}} de la maison {{maison}}</h4>

<h1>Choisissez vos vertus et vices</h1>

<h3>Règles</h3>
<ul>
	<li ng-repeat="regle in regles">{{regle.rule}}</li>
</ul>

<div ng-if="avantages != ''">
	<p>Avantages offerts par la maison : </p>
	<p>{{avantages}}</p>
</div>
<br>

<div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-pills nav-justified" role="tablist">
      	<li class="active"><a data-target="#vertus" role="tab" data-toggle="tab" style="cursor:pointer;">Vertus</a></li>
      	<li class=""><a data-target="#vices" role="tab" data-toggle="tab" style="cursor:pointer;">Vices</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      	<div class="tab-pane fade active in" id="vertus">

			<div ng-if="vertuesHermetiquesMajeuresDispo > none">
				<h2>Vertus Hermétiques Majeures</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vertuHermetiqueMajeure in vertusHermetiquesMajeures track by $index">
							<td>{{vertuHermetiqueMajeure.nom}}</td>
							<td>{{vertuHermetiqueMajeure.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="(!model && (vertuesHermetiquesMajeuresDispo < 1 || vertusMajeuresDispo < 1 ||  vertuesHermetiquesDispo < 1 || vertuesDispo < costMajeure)) || vertuHermetiqueMajeure.default == typePersonnage" ng-checked="vertuHermetiqueMajeure.default == typePersonnage" ng-click="handleClickVertuesHermMaj($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-if="vertusMajeuresDispo > none">
				<h2>Vertus Surnaturelles Majeures</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vertuSurnaturelleMajeure in vertusSurnaturellesMajeures track by $index">
							<td>{{vertuSurnaturelleMajeure.nom}}</td>
							<td>{{vertuSurnaturelleMajeure.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vertusMajeuresDispo < 1 || vertuesDispo < costMajeure)" ng-click="handleClickVertuesSurnMaj($event)"></td>	
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-if="vertusMajeuresDispo > none">
				<h2>Vertus de Statut Social Majeures</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vertu in vertusStatutSocialMajeures">
							<td>{{vertu.nom}}</td>
							<td>{{vertu.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="(!model && (vertusMajeuresDispo < 1 || statutSocialDispo < 1 || vertuesDispo < costMajeure)) || vertu.defaultTypePersonnage == typePersonnage || ((vertu.defaultMaison != maison) && vertu.defaultMaison != '')" ng-click="handleClickVertuesStatutSocMaj($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-if="vertusMajeuresDispo > none">
				<h2>Vertus Générales Majeures</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vertu in vertusGeneralesMajeures | filter:{withoutPersonnage:'!'+typePersonnage}">
							<td>{{vertu.nom}}</td>
							<td>{{vertu.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vertusMajeuresDispo < 1 || vertuesDispo < costMajeure)" ng-click="handleClickVertuesGenMaj($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-if="vertuesHermetiquesDispo > none">
				<h2>Vertus Hermétiques Mineures</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vertu in vertusHermetiquesMineures | requiredFilter:typePersonnage:maison">
							<td>{{vertu.nom}}</td>
							<td>{{vertu.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="
								!model && (vertuesHermetiquesDispo < 1 || vertuesDispo < costMineure || (vertu.choixNecessaire && choixNecessaire < 1))
								" ng-click="handleClickVertuesHermMin($event, vertu.choixNecessaire)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vertus Surnaturelles Mineures</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vertu in vertusSurnaturellesMineures">
							<td>{{vertu.nom}}</td>
							<td>{{vertu.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vertuesDispo < costMineure)" ng-click="handleClickVertuesSurnMin($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vertus de Statut Social Mineures</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vertu in vertusStatutSocialMineures | filter:{withoutTypePersonnage:'!'+typePersonnage}">
							<td>{{vertu.nom}}</td>
							<td>{{vertu.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (statutSocialDispo < 1 || vertuesDispo < costMineure)" ng-click="handleClickVertuesStatSocMin($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vertus Générales Mineures</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vertu in vertusGeneralesMineures | requiredFilter:typePersonnage:maison | filter:{withoutTypePersonnage:'!'+typePersonnage}">
							<td>{{vertu.nom}}</td>
							<td>{{vertu.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-checked="automatiquePourTypePersonnage == typePersonnage && automatiquePourMaison == maison" ng-disabled="
								(automatiquePourTypePersonnage == typePersonnage && automatiquePourMaison == maison) ||
								(!model && (vertuesDispo < costMineure || (vertu.choixNecessaire && choixNecessaire < 1)))" ng-click="handleClickVertuesGenMin($event, vertu.choixNecessaire)"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div>
				<h2>Vertus de Statut Social Gratuites</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vertu in vertusStatutSocialGratuites | requiredFilter:typePersonnage:maison">
							<td>{{vertu.nom}}</td>
							<td>{{vertu.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-checked="vertu.automatiquePourTypePersonnage == typePersonnage" ng-disabled="vertu.automatiquePourTypePersonnage == typePersonnage || (!model && (statutSocialDispo < 1))" ng-click="handleClickVertuesStatSocGrat($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="tab-pane fade" id="vices">
			<div ng-if="typePersonnage == 'Mage'">
				<h2>Vices Hermétiques Majeurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesHermetiquesMajeurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMajeure || vicesMajeursDispo < 1 || vicesHermetiquesDispo < 1)" ng-click="handleClickVicesHermMaj($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vices de Personnalité Majeurs ou Mineurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Majeur</th>
						<th>Mineur</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesPersonnaliteMajeursMineurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="modelMaj" ng-disabled="(!modelMaj && (vicesDispo < costMajeure || vicesPersonnaliteDispo < 1 || vicesMajeurDispo < 1 || vicesPersonnaliteMajeurDispo < 1)) || modelMin" ng-click="handleClickVicesPersMaj($event)"></td>
							<td><input type='checkbox' ng-model="modelMin" ng-disabled="(!modelMin && (vicesDispo < costMajeure || vicesPersonnaliteDispo < 1)) || modelMaj" ng-click="handleClickVicesPersMin($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vices d'Histoire Majeurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesHistoireMajeurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMajeure || vicesMajeursDispo < 1 || vicesHistoireDispo < 1)" ng-click="handleClickVicesPersMaj($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vices de Statut Social Majeurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesStatutSocialMajeurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMajeure || vicesMajeursDispo < 1 || statutSocialDispo < 1)" ng-click="handleClickVicesSSMaj($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vices Surnaturels Majeurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesSurnaturelsMajeurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMajeure || vicesMajeursDispo < 1)" ng-click="handleClickVicesSurMaj($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vices Généraux Majeurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesGenerauxMajeurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMajeure || vicesMajeursDispo < 1)" ng-click="handleClickVicesGenMaj($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-if="typePersonnage == 'Mage'">
				<h2>Vices Hermétiques Mineurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesHermetiquesMineurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMineure || vicesHermetiquesDispo < 1 || vicesMineursDispo < 1)" ng-click="handleClickVicesHermMin($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vices de Personnalité Mineurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesPersonnaliteMineurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMineure || vicesPersonnaliteDispo < 1 || vicesMineursDispo < 1)" ng-click="handleClickVicesPersMin($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div>
				<h2>Vices d'Histoire Mineurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesHistoireMineurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMineure || vicesHistoireDispo < 1 || vicesMineursDispo < 1)" ng-click="handleClickVicesHistMin($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vices de Statut Social Mineurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesStatutSocialMineurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMineure || statutSocialDispo < 1 || vicesMineursDispo < 1)" ng-click="handleClickVicesStatSocMin($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vices Surnaturels Mineurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesSurnaturelsMineurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMineure || vicesMineursDispo < 1)" ng-click="handleClickVicesSurnatMin($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<h2>Vices Généraux Mineurs</h2>
				<table class="table table-striped" style='width:100%'>
					<thead>
						<th>Nom</th>
						<th>Effet</th>
						<th>Select</th>
					</thead>
					<tbody>
						<tr ng-repeat="vice in vicesGenerauxMineurs">
							<td>{{vice.nom}}</td>
							<td>{{vice.effet}}</td>
							<td><input type='checkbox' ng-model="model" ng-disabled="!model && (vicesDispo < costMineure || vicesMineursDispo < 1)" ng-click="handleClickVicesGenMin($event)"></td>
						</tr>
					</tbody>
				</table>
			</div>
    	</div>
    </div>
</div>
